{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-header bg-success">
    O nas
  </div>
  <div class="card-body">
    <br><b>Nasze działania:</b><br><br>
    <ul>
      <li><strong>Upowszechniamy kulturę fizyczną</strong> wsród dzieci, młodzieży, osób dorosłych i niepełnosprawnych.</li>
      <li><strong>Organizujemy turnieje</strong> obozy i imprezy o profile sportowo rekraacyjnym.</li>
      <li><strong>Tenis 10</strong> Program nauki gry w tenisa dla najmłodszych (dzieci od 5 do 10 roku życia). Zajęcia odbywają się w 4 osobowych grupach, dwa razy w tygodniu, przez 60 minut.</li>
      <li><strong>Szkolenie młodzieży</strong> Doskonalenie techniki gry oraz turnieje. Zajęcia odbywają się w 3 do 5 osobowych grupach, trzy razy w tygodniu, przez 60 minut.</li>
      <li><strong>Szkolenie dorosłych</strong> Prowadzone jest w formie treningów indywidualnych i grupowych. Zajęcia mają charakter rekreacyjny, a ich intensywność dostosowana jest do predyspozycji grających.</li>
      <li><strong>Nauka gry w tenisa (przedszkola i szkoły)</strong> Oferujemy zajęcia tenisowe dla przedszkoli oraz uczniów szkół podstawowych i ponadpodstawowych na wszystkich poziomach edukacyjnych w ramach zajęć WF.</li>
      <li><strong>Obozy i urodziny</strong> Urodziny na korcie oraz letnie obozy sportowe dla dzieci.</li>
      <li><strong>Sprzęt</strong> Zapewniamy i serwisujemy sprzęt tenisowy (elektroniczne naciąganie rakiet do: tenisa, squasha, badmintona).</li>
    </ul>
  </div>
</div>
{% endblock %}
