<!DOCTYPE html>
<html lang="pl">
<head>
  {% load static %}
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>Zimowa Liga Tenisowa TS Idea Sport</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "app.css" %}">
  <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}">
  <link type="text/css" rel="stylesheet" href="{% static 'lightgallery/css/lightgallery.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'lightgallery/css/lg-transitions.min.css' %}" />
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center bg-success">
  <a href="{% url 'index' %}" class="navbar-brand d-flex w-50 mr-auto">Zimowa Liga Tenisowa TS Idea Sport</a>
  <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#collapsingNavbar3" style="z-index: 1000000000000">
    <i class="fas fa-bars" style="color:#222222; font-size:28px;"></i>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item dropdown justify-content-center">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Archiwum</a>
        <div class="dropdown-menu">
          {% for season in seasons %}
            {% if season != current_season %}
              <a class="dropdown-item" href="#"><b>{{ season.name }}</b></a>
              {% for league in season.league_set.all %}
                <a class="dropdown-item" href="{% url 'league' league.id %}">{{ league.name }}</a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown justify-content-center">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ current_season.name }}</a>
        <div class="dropdown-menu">
          {% for league in current_season.league_set.all %}
            <a class="dropdown-item" href="{% url 'league' league.id %}">{{ league.name }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moje konto</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'myresults' %}">Moje wyniki</a>
            <a class="dropdown-item" href="{% url 'changepass' %}">Zmiana hasła</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}">Galerie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">O nas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
