{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
  <div class="card-header bg-success">
    Zimowa Liga Tenisowa TS Idea Sport
  </div>
  <div class="card-body">
    <center>
      <br><b>Dziękujęmy za odwiedzenie naszej strony internetowej!</b><br><br>
      Na stronie znajdują się aktualne wyniki oraz terminarz wszystkich lig.<br><br>
      Zachęcamy także do odwiedzenia nas na <a href="https://www.facebook.com/groups/1052527701575993/" target="_blank">Facebooku</a>.<br>
      <a href="https://www.facebook.com/groups/1052527701575993/" target="_blank"><img width="100px" src="{% static "facebook.jpg" %}" alt="Facebook"></a><br>
    </center>
  </div>
</div>
{% endblock %}
