{% extends 'base.html' %}

{% block content %}
{% if league.covid19_canceled %}
  <div class="alert alert-danger" role="alert">Liga nie została dokończona z powodu pandemii COVID-19.</div>
{% endif %}
<div class="card">
  <div class="card-header bg-success">
    {{ league.name }} tabela
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th colspan="4"></th>
            <th style="border-left: 1px solid #dee2e6" scope="col" colspan="4">Mała tabela (bezpośrednio)</th>
          </tr>
          <tr>
            <th scope="col">Msc.</th>
            <th scope="col">Zawodnik</th>
            <th scope="col">Mecze</th>
            <th scope="col">Punkty</th>
            <th style="border-left: 1px solid #dee2e6" scope="col">Mecze</th>
            <th scope="col">Punkty</th>
            <th scope="col">Sety</th>
            <th scope="col">Gemy</th>
          </tr>
        </thead>
        <tbody>
          {% for score in table %}
            <tr>
              <th scope="row">{{ score.place }}.</th>
              <td>{{ score.name }}</td>
              <td>{{ score.matches }}</td>
              <td><strong>{{ score.points }}</strong></td>
              <td style="border-left: 1px solid #dee2e6">{{ score.bmatches }}</td>
              <td>{{ score.bpoints }}</td>
              <td>
                {% if score.bpoints != None %}
                  {% if score.bsets > 0 %}+{% endif %}{{ score.bsets }}
                  ({{ score.bsets_win }}-{{ score.bsets_lost }})
                {% endif %}
              </td>
              <td>
                {% if score.bpoints != None %}
                  {% if score.bgems > 0 %}+{% endif %}{{ score.bgems }}
                  ({{ score.bgems_win }}-{{ score.bgems_lost }})
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header bg-success">
    {{ league.name }} terminarz
  </div>
  <div class="card-body">
    {% for round in league.round_set.all %}
      <b>{{ round.name }}</b>
      {% if round.deadline %}do {{ round.deadline|date:"d.m.Y" }}{% endif %}
      <br>
      {% for match in round.match_set.all %}
        {{ match.player1.first_name }} {{ match.player1.last_name }} - {{ match.player2.first_name }} {{ match.player2.last_name }}
        <i><b>{{ match.print_result }}</b></i>
        <br>
      {% endfor %}
      <br>
    {% endfor %}
  </div>
</div>
{% endblock %}
